
//
// VARIABLES
//

// Colors
$blue: #ff0000; //#4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
$spBlue: #4b7387;
$coolgray11: #53565a;
$coolgray9: #75787b;
$coolgray6: #a7a8aa;
$coolgray4: #c2bfb8;

// Font stacks
$helvetica: "polariscond", Helvetica, Arial, sans-serif;
$helveticaNeue: Helvetica, Arial, sans-serif;
$fenway: "fenway", serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
